@model IEnumerable<NtandoMabuthoStudyGroup.Models.Student>

@{
    ViewBag.Title = "StudentDisplay";
}

<h2>StudentView</h2>




<h2>Student List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.StudentNumber)</th>  <!-- So this will display the label for StudentNumber -->
            <th>@Html.DisplayNameFor(model => model.FirstNaam)</th>      <!-- So this will display  the label for First Name -->
            <th>@Html.DisplayNameFor(model => model.Surname)</th>       <!-- So this will display the label for Surname -->
            <th>@Html.DisplayNameFor(model => model.Email)</th>         <!-- So this will display the label for Email -->
        </tr>
    </thead>




    @foreach (var item in Model) //For each person
    {
        <tr>
            <td>
                @("u" + item.StudentNumber.ToString())

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

        </tr>
    }


</table>

